html, body {
  color: #666;
  font-size: 10px;
  font-family: "Nanum Square", Arial, sans-serif;
}

body {
  background-color: bisque;
}

button {
  border: 0 none;
  border-radius: 0px;
  background: transparent;
  box-sizing: border-box;
  cursor: pointer;
}

a {
  color: #666;
}

a, a:hover, a:focus, a:visited
{
  text-decoration: none;
}